@using MusicPortal.DAL.Entities
@inject MusicPortal.BLL.Interfaces.ILangRead MyLangRead
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-DP7I++9BVZvNn4rAk3jpZwWhW/30BIScFbE29lRSzoBzFhrftkd0boZa0HjI1rfiGBnjp1Jp5aMJROmSTT/yIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
</head>
<style>
    .navbar-collapse {
          flex-grow:0;
          margin-right:50px;
          font-weight:500;

    }
    .name{
        align-self:center;
        color:crimson;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="MusicModels" asp-action="Index">MusicPortal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex myStyle">
                    <ul class="navbar-nav">
                        @if (ViewBag.Name == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="GoToAdminPanel">AdminPanel</a>
                            </li>
                            <li class="nav-item name">  @Resources.Resource.Hello, @ViewBag.Name</li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="BackToLog">@Resources.Resource.BackToLog</a>
                            </li>
                        }
                        else if (@ViewBag.Name!= "" && ViewBag.Name != null)
                        {
                            <li class="nav-item name"> @Resources.Resource.Hello, @ViewBag.Name</li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="BackToLog">@Resources.Resource.BackToLog</a>
                            </li>
                      
                        }
           
                    </ul>
                    <form asp-action="ChangeCulture" asp-controller="AdminPanel">
                        <select name="lang">
                            <option disabled selected>@Resources.Resource.ChooseLang</option>
                            @foreach (Language it in MyLangRead.languageList())
                            {
                                <option value=@it.ShortName>@it.Name</option>
                            }
                        </select>
                        <input type="submit" name="submit" value="@Resources.Resource.ChooseLang">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MusicPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
