@model CombinedMessages;

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script>
            $(document).ready(function () {
                function loadMessages() {
                    $.ajax({
                        url: '@Url.Action("GetMessages", "Messages")',
                        type: 'GET',
                        contentType: 'application/json', // Устанавливаем тип содержимого
                        success: function (response) {
                            console.log(response)
                            var messageContainer = $('.mess');

                 
                        getSessionValue("Login")
                            .then(function (loginValue) {
                                messageContainer.empty();

                                // Проходим по массиву сообщений
                                for (let i = 0; i < response.length; i++) {
                                    let message = response[i];
                                    // Создаем HTML элемент для каждого сообщения

                                    if (message.user.name == loginValue) {
                                        var messageHtml = '<div class="wrap myMess">';
                                        messageHtml += `<div class="message">`;
                                    }
                                    else {
                                        var messageHtml = '<div class="wrap">';
                                        messageHtml += `<div class="message">`;
                                    }
                                    messageHtml += '<div class="mestop">';
                                    messageHtml += '<p>Name: ' + message.user.name + '</p>';
                                    messageHtml += '<p>Message: ' + message.message + '</p>';
                                    messageHtml += '<p>Date: ' + message.messageDate + '</p>';
                                    messageHtml += '</div>';
                                    messageHtml += '</div>';
                                    if (message.user.name == loginValue) {
                                        messageHtml += '</div>';
                                    }
                                   
                                    messageContainer.append(messageHtml);
                                }
                              
                            })
                         

                        },
                        error: function (jqXHR, statusText, error) {
                            console.log(jqXHR.status + '\n' + statusText + '\n' + error);
                        }

                    });

                }

                loadMessages();
            function getSessionValue(key) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: '@Url.Action("GetSessionValue", "Messages")', // Путь к методу контроллера
                        type: 'GET',
                        data: { key: key }, // Передаем ключ сессии
                        success: function (response) {
                            resolve(response); // Возвращаем значение сессии
                        },
                        error: function (jqXHR, statusText, error) {
                            reject(error); // Обработка ошибки
                        }
                    });
                });
            }

                $("#btn-send").on("click", function () {
                    let formData = new FormData();
                    formData.append("message", $("#input_mess").val());
                    console.log($("#input_mess").val())
       
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Create", "Messages")',
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (response) {
                            alert(response);
                            loadMessages();
                        },
                        error: function (jqXHR, statusText, error) {
                            console.log(jqXHR.status + '\n' + statusText + '\n' + error);
                        }
                    });
                });

            });

    </script>
    }
<div class="header">
    <h1>Forum</h1>
    @if (@Context.Session.GetString("Login") == null)
    {
        <div class="Account">
            <h2>Hello, Guest</h2>
        </div>
    }
    else
    {
        <div class="Account">
            <h2>Hello, @Context.Session.GetString("Login")</h2>
            <a id="logoutLink" href="#">Выйти с аккаунта?</a>
        </div>
    }
</div>
<section class="mess">
    <!-- Message section will be loaded here -->
</section>
<form id="messageForm" asp-action="Create">
    <div class="message-input">
        <input asp-for="MessageModel.Message" id="input_mess" type="text" name="Message" placeholder="Введите ваше сообщение" />
            <a href="javascript:void(0)" class="btn btn-primary" id="btn-send">Sedndt</a></td>
    </div>
</form>

}
