@using Models
@model CombinedMessages;

@{
    ViewData["Title"] = "Index";
}

<style>
    .card-img-top {
        max-height: 200px;
        object-fit: cover; 
        transition: 3s ease; 
    }

        .card-img-top:hover {
          
            max-height:1000px;
            transition: 3s ease;
        }

    .search-wrapper {
        margin-bottom: 20px;
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
    }

    .btn-group{
        align-items:center;
    }

        .search-wrapper input[type="text"] {
            width: 200px;
        }


    .search-wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

        .search-wrapper input[type="text"] {
            width: 200px;
        }

        .search-wrapper select {
            width: 200px;
        }


    .Filter{
        display:flex;
        align-items:flex-end;
    }
</style>



<h1>MUSIC</h1>

    <p>

        <a asp-action="Create">Create New</a>
    </p>
@if (ViewBag.Name == "Admin")
{
    <p>
        <a asp-action="CreateGenre">Create New Genre</a>
    </p>
}

<div class="search-wrapper">
    <form method="get" class="Filter">
        <div>
            <input name="title" value="@Model.Musics.FilterViewModel.SelectedTitle" type="text" placeholder="Поиск...">
        </div>
        <div>
            <div>
            <label asp-for="@Model.Music.Genre" class="control-label"></label>
       
            <select name="id" class="form-control">
                <option value="">Выберите жанр</option>
                @if (ViewBag.Genres != null)
                {
                    foreach (var genre in ViewBag.Genres)
                    {
                        <option value="@genre.Id">@genre.Title</option>
                    }
                }
            </select>
            @if (ViewBag.Name == "Admin")
            {
                <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button>
            }
            <span asp-validation-for="@Model.Music.Genre" class="text-danger"></span>

            </div>
            
       

        </div>
        <div>
            <button type="submit" value="Filter" class="btn btn-sm btn-danger">Search</button>
        </div>
    </form>
</div>


<div class="row">
    @foreach (var item in Model.Musics.Musics)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="Images/@item.PosterPath" alt="Poster">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-title">@item.Genre.Title</p>
                    <audio src="@Url.Content(item.MusicPath)" id="@($"audio-{item.Id}")" preload="auto"></audio>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="btn-group">
                            <form id="@($"downloadForm-{item.Id}")" method="post" asp-action="DownloadMusic">
                                <input type="hidden" name="musicPath" value="@Url.Content(item.MusicPath)" />
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Download</button>
                            </form>
                             <audio controls>
                                 <source src="Music/@item.MusicPath" type="audio/mp4">
                             </audio>
                         
                        </div>
                        <div>
                            @if (ViewBag.Name == "Admin")
                            {
                                <div class="btn-group">
                                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

  
    

</div>
<page-link page-model="@Model.Musics.PageViewModel" page-action="Index"
           page-url-position="@(Model.Musics.FilterViewModel.SelectedTitle)"
           page-url-team="@(Model.Musics.FilterViewModel.SelectedGenre)"></page-link>



